{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block head_extra %}
    {{ form.media }}
{% endblock head_extra %}

{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}



{% block content %}
<style type="text/css">
    .target-olymps{
        color: #ff7477 !important;
    }
</style>

<div class='ui container'>
    <a class="button ui blue" href='{% url "olymps:list" %}'>
        <i class="fas fa-chevron-circle-left"></i> Back to olympiads
    </a>
    <h3></h3>
    {% if staff == "yes" %} 
       <h3 style="color: red"> Staff only: <a class="btn btn-info" href='{% url "olymps:create" %}' >Create Olympiad</a></h3>
    {% endif %}   
    <div class="col-sm-offset-6">
        <h2>{{ instance.title }} </h2>
        {% if staff == "yes" %} 
            <a href='{{ instance.get_update_url }}' >Edit</a> |
            <a href='{{ instance.get_delete_url }}'>Delete</a>
        {% endif %}
    </div>


    <div>

        {% for element_of_user in array_of_user %}
            <div class="ui segment" style="width:70%;">

            <a href='{{ element_of_user.0.get_absolute_url }}'><h4>{{ element_of_user.0.title }}</h4></a>
            {% if is_auth == True %}
                {% if element_of_user.1.0.solved == False %}
                    <h4>Not solved</h4>
                {% else %}
                    <h4>Solved</h4>
                {% endif %}
            {% endif %}
            {% if staff == "yes" %}<a href='{{ element_of_user.0.get_delete_url }}'>Delete</a>{% endif %}
            </div>
        {% endfor %}


        <!--<a class="btn btn-info" href="">Create problem</a>-->
    </div>
    {% if staff == "yes" %} 
        <br><br><br>
        <h4 style="color: red"> Staff only</h4><h4>Create new Problem:</h4>
        <br>        
        <form class="comment_form" method="POST" action='' enctype='multipart/form-data'> {% csrf_token %}
            {{ create_problem_form|crispy }}
            <input type='submit' class='ui button green' style="margin-top:10px" value='Create problem' >
        </form>
    {% endif %}
</div>


{% endblock content %}