.oneline{
    display: inline;
}
.white{
    color: #FFF;
}
.green{
    color: green;
}
.red{
    color: red;
}
.grey{
    color: grey;
}
.small{
    font-size: 90%;
    font-weight: 300;
}
.space{
    margin-left: 15px;
}
.spacex2{
    margin-left: 30px;    
}
.up{
    margin-top: -10px;
}
.down{
    margin-top: 30px !important;
}

.right{
    float: right;
}
h1{
    font-weight:500;
    color: #424242;
}
h2{
    font-weight:500;
    color: #424242;
}
h3{
    font-weight:500;
    color: #424242;
}

p{
    font-size: 130%;
    color: #424242;
}
a:hover{
    color: #538fab;
}

img { height:200px; width:300px}

.big-header{
    background-color: #101727;
    height: 110px;
}
.main-header-part{
    background-color: #101727 !important;
    margin-top: -50px
}
.hr-head{
    border-top: 0.05px solid #8c8b8b ;
}

.logo{
    font-size: 22px;
    color: #FFF;
    border: 1px solid lightgrey;
    padding: 0px 35px 4px 35px;
    font-family: 'Oswald', times, san-serif;
    text-decoration: none;
}
.logo:hover{
    color:#FFF;
    text-decoration: none;
}
.header-logo{
    margin-top: 0 !important;
    //background-color: #EDF5E1;
}

.go-in a{
    color: black;
    font-weight: 600;
    font-size: 15px;

}

.go-in {
    margin-top:10px;
    padding-top: 0 !important;
    padding-bottom: 25px !important;
}

.menu-l{
    color: white;    
}

.target{
    color: white;
}
.target:hover{
    color: #ff7477;
}
a:hover{
    text-decoration: none;
}

/*.header-menu{
    border-radius: unset !important;
}*/

.header-menu a{
    font-weight: 600 !important;
}
.menu-link{
    font-weight: 550;
    color: grey !important;
    font-size: 75% !important;
}
.menu-link:hover{
    font-weight: 500;
    color: lightgrey !important;
    font-size: 75% !important;
}



.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
    background-color: #101727;
}

.logo-footer{
    letter-spacing: 8px;
    padding: 8px;
}


#content-choice{
    height:220px;
}
#segment-choice{
    width: 97%;
    border-radius: unset;
    background-color: #101727 !important;

    background-image: url("qwe.png") !important;
}

.content{
    color: white;
}
.content-container{
    margin-top: 50px;
}
#content-subject a{
    font-weight:400;
    color:black;
}
#content-subject{
    margin-top: 50px;
}




.post-title{
    color: #424242;
}

.post-foot{
    border: 0.1px solid lightgrey;
    padding: 8px 10px;
    width: 300px;
}


.olymp-image{
    width: 100px !important;
    height: 50px !important;
}

.pagination{
    margin-top: 50px;
}