h1{
    font-weight:500;
    font-size: 200%;
}

p{
    font-size: 130%;
    color: #424242;
}

img { height:200px; width:300px}

.big-header{
    background-color: #152b42;
    height: 200px;
}
.main-header-part{
    background-color: #152b42 !important;
    margin-top: -50px;
}

.logo{
    font-size: 26px;
    text-transform: uppercase;
    color: #FFF;
    border: 2px solid #FFF;
    padding: 1px 55px;
    font-weight: 500;
    font-family: 'Oswald', times, san-serif;
    text-decoration: none;
}
.logo:hover{
    color:#FFF;
    text-decoration: none;
}

.header-logo{
    padding: 15px 0 !important;
    margin-top: 0 !important;
    //background-color: #EDF5E1;
}

.go-in a{
    color: black;
    font-weight: 600;
    font-size: 15px;

}

.go-in {
    margin-top:10px;
    padding-top: 0 !important;
    padding-bottom: 25px !important;
}

.menu{
    background-color: #FFF !important;
    margin-top: 30px !important;
}
a:hover{
    text-decoration: none;
}

.header-menu{
    border-radius: unset !important;
}

.header-menu a{
    font-weight: 600 !important;
}
.menu-link{
    color: white !important;
    font-size: 100% !important;
}



.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
    background-color: #16161C;
}

.logo-footer{
    letter-spacing: 8px;
    padding: 8px;
}


#content-choice{
    height:300px;
}
#segment-choice{
    width: 100%;
    border-radius: unset;
    background-color: #152b42 !important;

}

.content{
    margin-top: 20px;
    color: white;
}
.content-container{
    margin-top: 50px;
}
#content-subject a{
    font-weight:400;
    color:black;
}
#content-subject{
    margin-top: 30px;
}




.post-title{
    color: #424242;
}