{% load staticfiles %}
<!--DOCTYPE html -->
<html>
<head>
	<meta charset="utf-8">
	<title>{% block head_title %}Enigmath{% endblock head_title %}</title>


	
	<!-- CSS -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href='{% static "css/semantic.min.css" %}'>
	<link rel='stylesheet' href='{% static "css/base.css" %}' />
	<link rel="shortcut icon" href='{% static "images/favicon.ico" %}' type="image/png">


	
	<link href="https://fonts.googleapis.com/css?family=Anton|Francois+One|Kanit|Oswald" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Changa:800|Montserrat:900" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


	<script src='{% static "js/semantic.min.js" %}'></script>


	<style>
		{% block style %}{% endblock style %}
	</style>
	{% block head_extra %} {% endblock head_extra %}
</head>

<body>
	
		<div class="ui container">
			<div class="ui grid header-logo">
					<div class="ten wide column" style="text-align: right">
						<a href='{% url "main:home" %}' class="logo">E n i g m a t h</a>	
					</div>
					<div class="six wide column go-in" style="text-align: right">
						<div class="ui horizontal list">
						{% if request.user.is_authenticated %}	
						<div class="item"><a href='{{ profile.get_absolute_url }}'><i class="fas fa-user"></i> {{ user }}</a></div>
						<div class="item"><a href='{% url "logout" %}'><i class="fas fa-sign-out-alt"></i>Logout</a></div>

						{% else %}
						<div class="item"><a href='{% url "login" %}'>Login</a></div>
						<div class="item"><a href='{% url "register" %}'>Sign up</a></div>
						{% endif %}	
						</div>
						
					</div>
			</div>
		</div>
		<div class="ui container centered" style="padding-bottom: 40px;">
			<div class="ui grid">
				<div class="ui five item menu header-menu">
					<a class="item" href='{% url "olymps:list" %}' >
						Olympiads
					</a>
					<a class="item" href='{% url "news:list" %}'>
						Ratings
					</a>
					<a class="item" href='{% url "news:list" %}'>
						News
					</a>
					<a class="item" href='{% url "courses:list" %}' >
						Courses
					</a>
					<a class="item" href='{% url "main:contacts" %}'>
						Contacts
					</a>
				</div>
			</div>
		</div>

			
		





	{% include "messages_display.html" %}
	<div class='content-container'>
		{% block content %}{% endblock content %}
	</div>


	<div class="ui inverted vertical footer segment">
			<div class="ui center aligned container">
				<div class="ui stackable inverted divided grid">
					<div class="seven wide column">
						<h4 class="ui inverted header">Start from yourself</h4>
						<p>Your motivation creates a great opportunity to be on the top of the world</p>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header">About</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">News</a>
							<a href="#" class="item">Our team</a>
							<a href="#" class="item">Our supporters</a>
							<a href="#" class="item">Our contributors</a>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header">Contacts</h4>
						<div class="ui inverted link list">
							<p href="#" class="item">Write us on mail</p>
							<a href="#" class="item">enigmath@enigmath.com</a>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header">Subjects</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">Math for silly</a>
							<a href="#" class="item">Math for old</a>
							<a href="#" class="item">Math for animals</a>
							<a href="#" class="item">Math for olympiads</a>
						</div>
					</div>
					
				</div>
				<div class="ui inverted section divider"></div>
				<div class="logo-footer centered">ENIGMATH</div>
				<div class="ui horizontal inverted small divided link list">
					<a class="item" href="#">Site Map</a>
					<a class="item" href="#">Contact Us</a>
					<a class="item" href="#">Terms and Conditions</a>
					<a class="item" href="#">Privacy Policy</a>
				</div>
			</div>
		</div>



	




	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

	<script src='{% static "js/jquery.min.js" %}' type="text/javascript"></script>

	<script src='{% static "js/semantic.min.js" %}' type="text/javascript"></script>


	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	
	<script src='{% static "js/myscript.js" %}' type="text/javascript"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js'></script>

	<script type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251"></script>

	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.12';
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<script>
		$('.ui .item').on('click', function() {
		      $('.ui .item').removeClass('active');
		      $(this).addClass('active');
		   }); 
	</script>



	<script type="text/javascript">
		$(document).ready(function(){
			$(".content-markdown").each(function(){
				var content = $(this).text()
				var markedContent = marked(content)
				$(this).html(markedContent)
			})
			$(".post-detail-item img").each(function(){
				$(this).addClass("img-responsive");
			})



			var contentInput = $("#id_content");
			function setContent(value){		   
				$("#preview-content").html(marked(value))
				$("#preview-content img").each(function(){
					$(this).addClass("img-responsive")
				})
			}
			setContent(contentInput.val())
			contentInput.keyup(function(){
				var newContent = $(this).val()
				setContent(newContent)
			})

			var titleInput = $("#id_title");

			function setTitle(value) {
				$("#preview-title").text(value)
			}
			setTitle(titleInput.val())
			titleInput.keyup(function(){
				var newContent = $(this).val()
				setTitle(newContent)
			})

			$(".comment-reply-btn").click(function(event){
				event.preventDefault();
				$(this).parent().next(".comment-reply").fadeToggle();
			})
			$(".comment-children-reply-btn").click(function(event){
				event.preventDefault();
				$(this).parent().next(".comment-reply").fadeToggle();
			})




		})
	</script>




</body>
</html>
