{% extends "base.html" %}
{% block content %}
<style type="text/css">
    .target-olymps{
        color: #ff7477 !important;
    }
</style>


<div class='ui container'>
    <div class="ui grid">
        <div class=" twelve wide column">
            <h1>{{ title }}</h1>
                {% if staff == "yes" %}
                <h3 style="color: red"> Staff only: <a class="ui button red" href='{% url "lessons:create" %}' >Create Olympiad</a></h3>
            {% endif %}
        </div>
        <div class='four wide column'>
            <form method='GET' action=''>
                <div class="ui action input">
                    <input type='text' name='q' placeholder='Search olympiads' value='{{ request.GET.q }}'/>
                    <button class="ui button" type="submit">Search</button>
                </div>
            </form>
        </div>
        {% for obj in object_list %}
            <div class="ui segment" style="width:70%;">
                {% if obj.draft %}<h4 style="color: red">Staff only: Draft</h4>{% endif %} {% if obj.publish > today %}<h4>Staff Only: Future Olympiad</h4>{% endif %}
                {% if obj.image %}
                    <a class="oneline" href='{{ obj.get_absolute_url }}'><img class="olymp-image" src='{{ obj.image.url }}'/></a>
                {% endif %}
                <div class="oneline">
                    <h3 class="oneline spacex2"><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a> </h3>
                    {% if staff == "yes" %}
                        <a class="spacex2" href='{{ obj.get_update_url }}'>Edit</a> |
                        <a href='{{ obj.get_delete_url }}'>Delete</a>
                    {% endif %}
                    <h5 class="oneline spacex2">Start: <a href="">{{ obj.start_time }}</a></h5>
                    <p class="oneline spacex2">Authors: <a href="{{ obj.get_author }}">{{ obj.user.username }}</a> </p>
                </div>
            </div>
        {% endfor %}
</div>





    <div class="pagination">
        <span class="step-links">
            {% if object_list.has_previous %}
                <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
            </span>

            {% if object_list.has_next %}
                <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
            {% endif %}
        </span>
    </div>




</div>



{% endblock content %}