{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block content %}

	<div class="main-header-part">
		<div class="ui container">
			<div class="ui column centered grid" id="content-choice">
				<div class="ui segment inverted" id="segment-choice">
					<div class="content">
						<h1 class="white">Online math</h1>
						<h3 class="white">For everyone</h3>
						<div class="ui huge buttons">
						  <button class="ui positive button">Learner</button>
						  <div class="or"></div>
						  <button class="ui blue button">School</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

		<div class="ui container">
			<div class="ui grid" id="content-subject">
				<div class="five wide column">
					<h3>Math by subject</h3>
				</div>
				<div class="three wide column">
					<div class="ui list">
						<a class="item">Early math</a>
						<a class="item">Algebra</a>
						<a class="item">Trigo</a>
						<a class="item">Wow</a>

					</div>
				</div>
				<div class="three wide column">
					<div class="ui list">
						<a class="item">Early math</a>
						<a class="item">Algebra</a>
						<a class="item">Trigo</a>
						<a class="item">Wow</a>

					</div>
				</div>
				<div class="five wide column">
					<div class="ui list">
						<a class="item">Early math</a>
						<a class="item">Algebra</a>
						<a class="item">Trigo</a>
						<a class="item">Wow</a>

					</div>
				</div>
			</div>
			<div class="ui divider"></div>

		</div>
		<div class="ui container">
			<div class="ui grid" id="content-subject">
				<div class="five wide column">
					<h3>Math by subject</h3>
				</div>
				<div class="three wide column">
					<div class="ui list">
						<a class="item">Early math</a>
						<a class="item">Algebra</a>
						<a class="item">Trigo</a>
						<a class="item">Wow</a>

					</div>
				</div>
				<div class="three wide column">
					<div class="ui list">
						<a class="item">Early math</a>
						<a class="item">Algebra</a>
						<a class="item">Trigo</a>
						<a class="item">Wow</a>

					</div>
				</div>
				<div class="five wide column">
					<div class="ui list">
						<a class="item">Early math</a>
						<a class="item">Algebra</a>
						<a class="item">Trigo</a>
						<a class="item">Wow</a>

					</div>
				</div>
				
			</div>
			<div class="ui divider"></div>

		</div>
		<div class="ui container">
			<div class="ui grid" id="content-subject">
				<div class="five wide column">
					<h3>Math by subject</h3>
				</div>
				<div class="three wide column">
					<div class="ui list">
						<a class="item">Early math</a>
						<a class="item">Algebra</a>
						<a class="item">Trigo</a>
						<a class="item">Wow</a>

					</div>
				</div>
				<div class="three wide column">
					<div class="ui list">
						<a class="item">Early math</a>
						<a class="item">Algebra</a>
						<a class="item">Trigo</a>
						<a class="item">Wow</a>

					</div>
				</div>
				<div class="five wide column">
					<div class="ui list">
						<a class="item">Early math</a>
						<a class="item">Algebra</a>
						<a class="item">Trigo</a>
						<a class="item">Wow</a>

					</div>
				</div>
				
			</div>

		</div>



{% endblock content %}
