{% extends "base.html" %}
{% block content %}

<style type="text/css">
    .target-news{
        color: #ff7477 !important;
    }
</style>
<div class='ui container'>
    <div class="ui grid">
        <div class="ui horizontal list twelve wide column">
            <h1>{{ title }}</h1>

            {% if staff == "yes" %}
            <h3 style="color: red"> Staff only: <a class="ui button red" href='{% url "news:create" %}' >Create Post</a></h3>
            {% endif %}

        </div>
        <div class='four wide column' style="padding-left: 10px">
            <form method='GET' action=''>
                <div class="ui action input">
                    <input type='text' name='q' placeholder='Search news' value='{{ request.GET.q }}'/>
                    <button class="ui button"  type="submit">Search</button>
                </div>
            </form>

        </div>
    </div>




    {% for obj in object_list %}
    <div class="ui segment" style="width:70%;">

            {% if obj.draft %}<h3>Staff only: Draft</h3>{% endif %} {% if obj.publish > today %}<h3>Staff Only: Future Post</h3>{% endif %}

            <a href="{{ obj.get_author }}">{{ obj.user.username }}</a> {{ obj.publish }}
            <h1>
                <a class="post-title" href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a>
            </h1>


            {% if staff == "yes" %}
                <a href='{{ obj.get_update_url }}'>Edit</a> |
                <a href='{{ obj.get_delete_url }}'>Delete</a>
            {% endif %}

            <p>{{ obj.get_markdown|truncatechars_html:120}}</p>

            {% if obj.image %}
                <img src='{{ obj.image.url }}'/>
            {% endif %}
            <p></p>

            <a class="ui button green" href="{{ obj.get_absolute_url }}"> View Post </a>
            <br><br>

            <div class='post-foot' >
                <a href=""><i class="fas fa-long-arrow-alt-up"></i></a>
                <p class="oneline likes_count space">{{ obj.likes }} </p>
                <a href=""><i class="fas fa-long-arrow-alt-down space"></i></a>
            
                <a class="btn btn-default spacex2" href="{{ obj.get_absolute_url }}"><i class="far fa-comments"></i> {{ obj.comments.count }}</a>
            </div>
    </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if object_list.has_previous %}
                <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
            </span>

            {% if object_list.has_next %}
                <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
            {% endif %}
        </span>
    </div>
</div>






{% endblock content %}