{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}





{% block content %}
{% if l == True %}
    <style type="text/css">
        .target-courses{
            color: #ff7477 !important;
        }
    </style>

{% endif %}
{% if l == False %}
    <style type="text/css">
        .target-olymps{
            color: #ff7477 !important;
        }
    </style>
{% endif %}

{{ object }}



<div class='ui container'>
        <a class="ui button blue" href="{{ problem.content_object.get_absolute_url }}">
            <i class="fas fa-chevron-circle-left"></i> List of problems 
        </a>
        {{ problem.content_type }}
        <p></p>
            {% if check_problem.solved == False %}
                <h5 class="grey small oneline">Not solved</h5>
            {% else %}
                <h5 class="green small oneline">Solved</h5>
            {% endif %}
            | Author: <a href="{{ problem.get_profile }}">{{ problem.user }}</a>

            <h2>{{ problem.title }}</h2> 

            <p>{{ problem.content }}</p>
            <div class="small-details">
              {% if request.user == problem.user %}<a href='{{ problem.get_delete_url }}'>Delete</a>{% endif %}
            </div>
        <div class="col-sm-5">
            <form method="POST" action='' enctype='multipart/form-data'> {% csrf_token %}
                <div class="ui action input">
                    {{ save_problem_form }}
                    <input type='submit' name = 'check' class='ui button blue' value='Check' >
                    <input type='submit' name = 'save' class='ui button blue' value='Save' >
                </div>
            </form>
            <!-- <form  method="POST" action='' enctype='multipart/form-data'> {% csrf_token %}
                {{ check_problem_form }}
                <br><br>
                <input type='submit' class='btn btn-info' value='Check' >
            </form> -->
           
        </div>
            

        <div class="col-sm-2"><h4>Status: {{ action_check }}</h4></div>
        <div class="col-sm-5">
            <h4>{% if check_problem.actions|length == 0 %}Here will be your saved expressions{% endif %}{% if check_problem.actions|length > 0 %}{{ check_problem.actions|length }} Saved expression{% if check_problem.actions|length > 1 %}s{% endif %}:{% endif %}</h4>
            {% for c in check_problem.actions %}
                {% if c.1 != 'f' %}
                    {{ c.0 }}
                    {{ c.1 }}
                
                    <form method="POST" action='' enctype='multipart/form-data'>{% csrf_token %}
                        {{ delete_expression_form }}
                        <input type='hidden' name='exp_id' value='{{ forloop.counter }}'>
                        <input type='submit' name = 'use' class='btn btn-info' value='Use' >
                        <input type='submit' name='delete' class='btn btn-info' value='Delete' >
                    </form>
                    <hr>
                {% endif %}
            {% endfor %}
            <br>


        </div>


        
</div>


{% endblock content %}